WECHATY_PUPPET=wechaty-puppet-wechat
WECHATY_LOG=verbose
GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash
GOOGLE_SHEETS_API_KEY=
NODE_ENV=production
CONTROL_PORT=
CONTROL_TOKEN=
PUPPETEER_DOWNLOAD_HOST=
WECHATY_PUPPET_WECHAT_ENDPOINT=
WECHATY_PUPPET_WECHAT_PUPPETEER_STEALTHLESS=
